* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: Helvetica;
}


body {
  background: linear-gradient(#202020,#393939);
  padding: 20px ;
  display: flex;
  justify-content: center;
}

.statusBtns {
  display: flex;
  justify-content: flex-end;
  width: 60vw;
  gap: .5rem;
  margin-bottom: 10px;
}

.statusBtn {
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center; 
}

.itemBoxActive {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
}

.itemBoxInactive {
  display: flex;
  background-color: rgb(113, 113, 113);
  height: 200px;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
}

.itemBoxHide {
  display: none;
}

.logoTitle {
  display: flex;
  gap: 1rem;
  font-size: small;
  align-items: center;
}

.itemBox > p {
    margin: auto;
}

.logoTitle #logoBox {

  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.logoTitle #logoBox img{
  height: 45px;
}

.btnAndCheckbox {
  display: flex;
  justify-content: space-between;
  
}

.btnAndCheckbox button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}

.toggle {
  position:relative;
  width: 3rem;
  height: 1.5rem;
  border-radius: .5rem;
  background-color: white;
  appearance: none;
  cursor: pointer;
  border: 2px rgb(0, 0, 0) solid;

}

.toggle:checked{
  background-color: rgb(208, 255, 138);
}

.toggle::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0.15rem;
  left: .05rem;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.toggle:checked::before {
  transform: translateX(1.6rem);


}



@media (max-width: 768px) {
  .container { grid-template-columns: repeat(2, 300px); }
}

@media (max-width: 576px) {
  .container { grid-template-columns: repeat(1, 300px); }
}